$persian-green: #00a087;
$light-cyan:    #e8fdff;
$white-smoke:   #f3f3f3;
$whisper:       #eee;

$font-Roboto-Condensed:'Roboto Condensed', sans-serif;

$nav-bar-height: 80px;
$default-radius: 5px;
$main-container-width: 450px;

