@import "variables";

#nav-bar {
  background-color: $persian-green;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 2em;
  height: $nav-bar-height;
  color: $light-cyan;
  .logo{
    float: left;
    height: $nav-bar-height;
    margin-right: 10px;
  }
  .header {
    float: left;
    font-size: 200%;
    line-height: 2.45;
  }
  .compose {
    float: right;
    padding: 20px;
    border-radius: $default-radius;
    font-size: 19px;
    margin: 9px;
    border-color: black;
    color: $persian-green;
    filter: opacity(80%);
    &:hover {
      color: black;
      filter: opacity(100%);
      cursor: pointer;
    }
  }
}
