article.tweet {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px auto;

}

article.tweet:hover header {
  opacity: 1;
}

article.tweet:hover {
  border: 1px solid black;
}

article.tweet header {
  opacity: 0.5;
  height: 50px;
  background-color: #f3f3f3;
  padding: 10px 10px;
}

article.tweet header img {
  display: inline-block;
  float: left;
  height: 25px;
  width: 25px;
}

article.tweet header div.username {
  float: left;
  padding-left: 10px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

article.tweet header div.usertag {
  float: right;
  display: inline-block;
}

article.tweet div.content {
  opacity: 1 !important;
  padding: 10px 10px;
  margin: 10px;
}

article.tweet footer {
  border-top: 1px solid #eee;
  padding: 10px 10px;
  margin: 20px 10px;
}

article.tweet footer div.date {
  float: left;
}

article.tweet:hover footer div.icons {
  visibility: visible;
}

article.tweet footer div.icons {
  visibility: hidden;
  float: right;
  color: #08a087;
}
